[defaults]
inventory = inventory/localhost.yml
roles_path = roles
collections_path = ./.ansible/collections
host_key_checking = False
interpreter_python = auto_silent
retry_files_enabled = False
deprecation_warnings = True
nocows = True
forks = 10
stdout_callback = default

[inventory]
enable_plugins = yaml, ini, toml

[ssh_connection]
pipelining = True
